# Dataframe de coordenadas de estaciones

No tenemos un dataset de coordenadas de estaciones de bicicleta, s√≥lo registros de viajes. Tenemos que extraer el id y las coordenadas de cada df

In [2]:
# Primero se buscan todas las estaciones de bicicleta

import pandas as pd

df=pd.read_csv('./Datos/datos_sucios/2013-07 - Citi Bike trip data.csv')
df.sample(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
84105,1137,2013-07-05 01:24:56,2013-07-05 01:43:53,387,Centre St & Chambers St,40.712733,-74.004607,309,Murray St & West St,40.714979,-74.013012,18304,Customer,\N,0
265604,682,2013-07-13 09:23:35,2013-07-13 09:34:57,347,W Houston St & Hudson St,40.728739,-74.007488,327,Vesey Pl & River Terrace,40.715338,-74.016584,16985,Subscriber,1985,2
498400,1683,2013-07-21 13:40:04,2013-07-21 14:08:07,426,West St & Chambers St,40.717548,-74.013221,470,W 20 St & 8 Ave,40.743453,-74.000040,16667,Subscriber,1976,1
628457,227,2013-07-25 16:08:20,2013-07-25 16:12:07,419,Carlton Ave & Park Ave,40.695807,-73.973556,483,E 12 St & 3 Ave,40.732233,-73.988900,18088,Subscriber,1979,1
172074,1052,2013-07-09 08:40:14,2013-07-09 08:57:46,464,E 56 St & 3 Ave,40.759345,-73.967597,422,W 59 St & 10 Ave,40.770513,-73.988038,15128,Subscriber,1969,1

In [6]:
import os

# Lista de los archivos en datos_sucios
csvs=os.listdir('./Datos/datos_sucios') 
csvs=[f'./Datos/datos_sucios/{csv}' for csv in csvs]
csvs

['./Datos/datos_sucios/2014-02 - Citi Bike trip data.csv',
 './Datos/datos_sucios/2014-01 - Citi Bike trip data.csv',
 './Datos/datos_sucios/2013-12 - Citi Bike trip data.csv',
 './Datos/datos_sucios/2013-11 - Citi Bike trip data.csv',
 './Datos/datos_sucios/2013-10 - Citi Bike trip data.csv',
 './Datos/datos_sucios/2013-09 - Citi Bike trip data.csv',
 './Datos/datos_sucios/2013-08 - Citi Bike trip data.csv',
 './Datos/datos_sucios/2013-07 - Citi Bike trip data.csv']

In [7]:
import pandas as pd

df_todos=pd.read_csv(csvs[0])

for archivo in csvs[1:]:
  df=pd.read_csv(archivo)
  df_todos=df_todos.append(df)

df_todos

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843411,1493,2013-07-31 23:59:40,2013-08-01 00:24:33,285,Broadway & E 14 St,40.734546,-73.990741,305,E 58 St & 3 Ave,40.760958,-73.967245,16279,Customer,\N,0
843412,417,2013-07-31 23:59:44,2013-08-01 00:06:41,460,S 4 St & Wythe Ave,40.712859,-73.965903,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15287,Customer,\N,0
843413,903,2013-07-31 23:59:49,2013-08-01 00:14:52,146,Hudson St & Reade St,40.716250,-74.009106,342,Columbia St & Rivington St,40.717400,-73.980166,18213,Subscriber,1963,1
843414,455,2013-07-31 23:59:50,2013-08-01 00:07:25,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,15085,Subscriber,1981,1
843415,875,2013-07-31 23:59:56,2013-08-01 00:14:31,146,Hudson St & Reade St,40.716250,-74.009106,342,Columbia St & Rivington St,40.717400,-73.980166,19333,Subscriber,1964,1

In [9]:
df_todos.to_csv('./Datos/datos_limpios/datos_completos.csv',index=False)

In [ ]:
pd.read_csv('./Datos/datos_limpios/datos_completos.csv')

# Ids con nombre de estaci√≥n y coordenadas

In [29]:
df_estacion=df_todos[['start station id','start station name','start station latitude','start station longitude']].drop_duplicates()
df_estacion

,start station id,start station name,start station latitude,start station longitude
0,294,Washington Square E,40.730494,-73.995721
1,285,Broadway & E 14 St,40.734546,-73.990741
2,247,Perry St & Bleecker St,40.735354,-74.004831
3,357,E 11 St & Broadway,40.732618,-73.991580
4,401,Allen St & Rivington St,40.720196,-73.989978
...,...,...,...,...
70570,533,Broadway & W 39 St,40.752996,-73.987216
77273,362,Broadway & W 37 St,40.751726,-73.987535
85646,267,Broadway & W 36 St,40.750977,-73.987654
219896,320,Church St & Leonard St,40.717440,-74.005835
10030,321,Cadman Plaza E & Red Cross Pl,40.699918,-73.989718

In [30]:
df_estacion.to_csv('./Datos/datos_limpios/datos_estacion.csv')

# id1 id2 tiempo_promedio

In [22]:
df_todos.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,382,2014-02-01 00:00:00,2014-02-01 00:06:22,294,Washington Square E,40.730494,-73.995721,265,Stanton St & Chrystie St,40.722293,-73.991475,21101,Subscriber,1991,1
1,372,2014-02-01 00:00:03,2014-02-01 00:06:15,285,Broadway & E 14 St,40.734546,-73.990741,439,E 4 St & 2 Ave,40.726281,-73.989780,15456,Subscriber,1979,2
2,591,2014-02-01 00:00:09,2014-02-01 00:10:00,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16281,Subscriber,1948,2
3,583,2014-02-01 00:00:32,2014-02-01 00:10:15,357,E 11 St & Broadway,40.732618,-73.991580,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,17400,Subscriber,1981,1
4,223,2014-02-01 00:00:41,2014-02-01 00:04:24,401,Allen St & Rivington St,40.720196,-73.989978,439,E 4 St & 2 Ave,40.726281,-73.989780,19341,Subscriber,1990,1

In [26]:
df_viajes=df_todos.groupby(by=['start station id','end station id']).tripduration.mean().reset_index()
df_viajes.head()

   start station id  end station id  tripduration
0                72              72   1428.977867
1                72              79   1117.452555
2                72              82   1516.500000
3                72              83    923.157895
4                72             116    824.120000

In [31]:
df_viajes.to_csv('./Datos/datos_limpios/datos_viajes.csv')

In [27]:
df_viajes[df_viajes['start station id']==df_viajes['end station id']]

       start station id  end station id  tripduration
0                    72              72   1428.977867
301                  79              79   1413.068460
608                  82              82   1816.979508
923                  83              83   2374.311258
1247                116             116    887.028916
...                 ...             ...           ...
94425              2017            2017   1111.898396
94733              2021            2021   1426.639798
95048              2022            2022   1799.572093
95319              2023            2023   1578.897638
95629              3002            3002   1077.322943

[330 rows x 3 columns]